# Godot
.godot/
.import/
.mono/
data_*/
mono_crash.*.json
*.translation

# Builds
*.apk
*.idsig

# Android export
android/build/

# IDE / Tools
.dart_tool/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
assets/music/generated/
